body        {background-image: url("../image/awhite.webp");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            font-size: 1.25rem;
            margin: 0 auto;
            padding: 20px;
            max-width: 1000px}

#menu ul    {list-style: none;
            padding:0;
            margin: 0;
            gap: 100px;
            display: flex;
            background-color: transparent;
            justify-content: center;}

#contact ul {display: flex;
            gap: 50px;
            list-style: none;
            margin-left: 0;}

h1          {text-align: center;
            margin-bottom: 80px;
            margin-top: 0;
            font-size: 100px;
            font-style: italic;}

section     {margin-top: 100px;
            font-style: italic;}

footer      {margin-top: 200px;}

img         {width: 200px;
            height: 200px;
            display: flex;}

#about      {display: flex;
            text-align: left;
            gap: 20px;}

form label,
form input,
form button {display: block;
            margin: 10px;}